<div class="row">
  <div class="col" style="margin: auto">
    <h1 id="tableLabel">Projects</h1>
  </div>
  <div class="col" style="margin: auto">
    <button class="btn btn-secondary" [routerLink]="['/projects/new']" style="float: right;">New Project</button>
  </div>
</div>

<p *ngIf="!projects"><em>Loading...</em></p>

<div *ngIf="projects" style="padding-top: 10px;">

  <div *ngIf="projects.length == 0">
    <h6>No projects are currently open.</h6>
  </div>
  <div *ngIf="projects.length != 0 && projects">
    <div class="card w-100" *ngFor="let project of projects" style="background-color: rgba(0,0,0,.03)">
      <div class="card-body">
        <h5 class="card-title"><b>{{ project.projectName }}</b></h5>
  
        <div class="row">
          <div class="col" style="margin: auto">
            <p class="card-text"><b>Current task:</b> {{ project.nextTaskName }}</p>
          </div>
          <div class="col" style="margin: auto">
            <p class="card-text" *ngIf="project.isComplete"><b>Status: </b><a style="color:red;">Closed</a> </p>
            <p class="card-text" *ngIf="!project.isComplete"><b>Status: </b><a style="color:green;">Open</a> </p>
          </div>
          <div class="col">
            <a class="btn btn-primary" (click)="goToProjectDetails(project)" style="float:right">Open Project</a>
          </div>
        </div>
  
      </div>
    </div>
  </div>

  
</div>