<p *ngIf="!project"><em>Loading Project...</em></p>

<div *ngIf="project">
  <h1 id="projectName">{{ project.projectName }}</h1>

  <div id="projectDescription">
    <p><b>Started at: </b>{{ project.startDate }}</p>
    <p><b>Task awaiting approval: </b>{{ project.nextTaskName }}</p>
  </div>

  <hr>
  <!--
  <div class="container" *ngIf="tasksForApproval.length > 0">
    <div class="row" style="margin-bottom: 10px;">
      <div class="col">
        <h5>Tasks awaiting approval</h5>
      </div>
      <div class="col">
        <button type="button" class="btn btn-primary" style="float: right;">Approve tasks</button>
      </div>
    </div>

    <div class="row" *ngFor="let task of tasksForApproval">
      <div class="card" style="margin: auto; width: 90% !important; ">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <p class="card-text">{{ task.taskName }}</p>
            </div>
            <div class="col">
              <div class="form-check" style="float: right;">
                <input class="form-check-input" type="checkbox" value="">
              </div>
            </div>
          </div>
          <div class="row" style="margin-top: 10px;">
            <div class="col">
              <label for="myfile"></label>
              <input type="file" id="myfile" name="myfile" multiple>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  -->

<div class="diagram-parent" style="background-color: lightgray; height: 60vh;">
  <app-diagram [url]="diagramUrl" [caseInstanceId]="camundaCaseInstanceId" (importDone)="handleImported($event)"></app-diagram>

  <div class="import-error" *ngIf="importError">
    <strong>Failed to render diagram: </strong>
    {{ importError.message }}
  </div>
</div>


</div>
