<p *ngIf="!project"><em>Loading Project...</em></p>

<div *ngIf="project">
  <h1 id="projectName">{{ project.projectName }}</h1>

  <div class="col" id="projectDescription">
    <div class="row">
      <div class="col">
        <p><b>Started at: </b>{{ project.startDate }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p><b>Task awaiting approval: </b>{{ project.nextTaskName }}</p>
      </div>
      <div class="col">
        <a class="btn btn-primary" (click)="submitTasks()" style="float:right">Submit tasks</a>
      </div>
    </div>
  </div>

  <hr>

<div class="diagram-parent" style="background-color: lightgray; height: 60vh;">
  <app-diagram [url]="diagramUrl" [caseInstanceId]="camundaCaseInstanceId" (importDone)="handleImported($event)"></app-diagram>

  <div class="import-error" *ngIf="importError">
    <strong>Failed to render diagram: </strong>
    {{ importError.message }}
  </div>
</div>


</div>
