.highlight:not(.djs-connection) .djs-visual > :nth-child(1) {
  fill: aqua !important; /* color elements as green */
}

.highlight-history:not(.djs-connection) .djs-visual > :nth-child(1) {
  fill: #1CAC78 !important; /* color elements as green */
}

.highlight-current:not(.djs-connection) .djs-visual > :nth-child(1) {
  fill: #F0E68C !important; /* color elements as green */
}

.pointer {cursor: pointer;}
